<%= form_for @flux do |f| %>
<div class="col-8 offset-4" style='margin-bottom:50px'>
  <div class='form_group'>
    <%= f.text_field :title, class: 'form-control', placeholder: 'Titre du Flux' %>
  </div>
  <div class="form_group">
    <%= f.text_field :url, class: 'form-control', placeholder: 'URL du Flux' %>
  </div>
  <div class="form_group">
    <input type="submit" class="btn btn-primary" value='Ajouter le Flux' >

  </div>
</div>
<% end %>

<% if @fluxes %>
<div class="container-fluid">
  <div class="row" >
    <% @fluxes.each do |flux| %>
    <div class="col-4" >
      <p><%= flux.title %></p>
      <div class="flux">  
        <% flux.elements.each do |element| %>
        <div id="element_<%= element.id %>" class="notRead element">
          <div class='headFlux'>
            <div>
            <a href='<%= element.url %>'><p><strong><%= element.title %></strong></p></a>
            </div>
            <div>
              <small>
                <p><%= element.date.strftime('Publié le: %d-%m-%Y') %></p>
              </small>
            </div>
          </div>
            <p><%= raw element.resum %></p>
            <p><%= link_to  "Marqué comme lu", element_changeStatus_path(element.id), id: "linkToRead", onClick: "changeStatus(#{element.id},#{element.status});", method: :put, remote: true %></p>
        </div>
        <hr>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
</div>
<% end %>



<script>
$(document).ready(function() {
  <% @fluxes.each do |flux| %>
    <% flux.elements.each do |element| %>
      if( <%= element.status %> == true ){
        $("#element_"+ <%=element.id%>).removeClass("notRead");
        $("#linkToRead").text("Marqué comme non lu");

        }
     
    <% end %>
  <% end %>
  
});
</script>
